@import "tailwindcss";
html,
body {
  @apply w-full h-full;
  background: #1e1e1e;
}

@theme {
  --color-gray-50: #fafafa;
  --color-gray-100: #e0e0e0;
  --color-gray-150: #1b1b1b;
  --color-gray-210: #262626;
  --color-gray-600: #0a0a0a;
}

#app {
  @apply h-full;
}
